.master-button {
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: none;
    background:dimgrey;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #fff;

  }

  .master-control {
      text-align: center;
      display: inline-flex;
  }
  .container {
    justify-content: center;
    margin: 50px auto;
    text-align: center;

  }
