<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights for you</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    
    <!-- <link rel="stylesheet" type="text/css" href="http://localhoststyle/front.css" /> -->
    <link rel="stylesheet" href="style/front.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<script src="https://d3js.org/d3.v7.min.js"></script>

<script src=
		"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

</head>
<body>  
    <div class="img"></div>

  <h1 id="mss">Popular Vacations</h1>

  <header class="page-header">
    <div class="container flow"> </div>
  </header>
 
  <div class="media-scroller snaps-inline">
    <div class="media-element">
      <script src="view/home/home.js"></script>
      <img class="img-0" id="img-0" alt="">
      
      <div class="text">
          <div class="title">
            <h2 id="title-0"></h2>
            <h2 id="price-0"></h2>
            <h2 id="weather-0"></h2>
        </div>
          </div>
    </div>


    <div class="media-element">
      <img id="img-1" alt="">
      <div class="text">
        <div class="title">
          <h2 id="title-1"> </h2>
          <h2 id="price-1"></h2>
          <h2 id="weather-1"></h2>
      </div>
        </div>
  </div>

    <div class="media-element">
      <img id="img-2" alt="">
      <div class="text">
        <div class="title">
          <h2 id="title-2"></h2>
          <h2 id="price-2"></h2>
          <h2 id="weather-2"></h2>
      </div>
        </div>
  </div>

  </div>
    <br>
    <br>
    <br>
    <div class="travel">
      <div>
        <h1 id="video-text">Find Your Next Vacation</h1>
      <video width="60%" height="70%" controls>
        <source src="video.mp4" type="video/mp4">
      </video>
     </div>
   
     </div>
     
    </div>

</body>
</html>
