<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flights for you</title>

    <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
    crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="CSS/front.css"> -->
    <link rel="stylesheet" href="/view/public/CSS/front.css">

</head>
<body>


      <nav>
        <ul class="menu">
            <li class="logo"><a href="#">Cheapest Flights</a></li>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">About</a></li>
            <li class="item"><a href="#">Services</a></li>
            </li>
            <li class="item button"><a href="#">Log In</a></li>
            <li class="item button secondary"><a href="#">Sign Up</a></li>
            <li class="toggle"><span class="bars"></span></li>
        </ul>
    </nav>
    <div class="img"></div>
    <h2 id="flight">טיסות זולות עבורך</h2>



    <header class="page-header">
        <div class="container flow">
        </div>
      </header>
      
      <div class="media-scroller snaps-inline">
        <div class="media-element">
          <img src="imgs/france.jpg" alt="">
          
          <div class="text">
              <div class="title">
                <h2 id="title">טיסה לצרפת</h2>
            </div>
                <div class="price">
                    <h2 id="price">50$</h2>
                  </div>
              </div>
        </div>


        <div class="media-element">
          <img src="imgs/spain.jpg" alt="">
          <div class="text">
            <div class="title">
              <h2 id="title">טיסה ספרד</h2>
          </div>
              <div class="price">
                  <h2 id="price">90$</h2>
                </div>
            </div>
      </div>

        <div class="media-element">
          <img src="imgs/dubai.jpg" alt="">
          <div class="text">
            <div class="title">
              <h2 id="title">טיסה דובאי</h2>
          </div>
              <div class="price">
                  <h2 id="price">150$</h2>
                </div>
            </div>
      </div>

        <div class="media-element">
          <img src="imgs/greece.jpg" alt="">
          <div class="text">
            <div class="title">
              <h2 id="title">טיסה ליוון</h2>
          </div>
              <div class="price">
                  <h2 id="price">40$</h2>
                </div>
            </div>
      </div>

        <div class="media-element">
          <img src="imgs/portugal.jpg" alt="">
          <div class="text">
            <div class="title">
              <h2 id="title">טיסה פורטוגל</h2>
          </div>
              <div class="price">
                  <h2 id="price">60$</h2>
                </div>
            </div>
      </div>

        <div class="media-element">
          <img src="imgs/newZealand.jpg" alt="">
          <div class="text">
            <div class="title">
              <h2 id="title">טיסה ניו זילנד</h2>
          </div>
              <div class="price">
                  <h2 id="price">80$</h2>
                </div>
            </div>
      </div>
      </div>
      

    <video width="320" height="240" controls autoplay>
        <source src="\Users\97252\OneDrive\שולחן העבודה\WhatsApp Video 2022-06-07 at 21.16.28 (1).mp4" type=video/ogg>
        <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
      </video>
      


</body>
</html>
