

body{
  /*background-image: url('back.jpg');*/
  background-repeat: round;
  background-color:rgb(255, 255, 255);

}

h1 {
    text-align:center;
    font-size: 150%;
}

button{
  color:dimgray;
}

p{
  margin-bottom: 1%;
}

#text{
    font-size: 75%;
    font: bold 14px sans-serif;
}

.continent{
  font: bold 14px sans-serif;
}

.category{
  font: bold 14px sans-serif;
}

.price{
  font: bold 14px sans-serif;
}
divCol{
  column-count: 3;
}

#myButton1{
    font-size: 16px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: none;
    background: #00a3b8;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #fff;
}

#myButton2{
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  background: #00a3b8;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
}

#myButton3{
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  background: #00a3b8;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
}

#myButton4{
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: none;
  background: #00a3b8;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #fff;
}

.box select {
  background-color: #00a3b8;
  color: white;
  padding: 2px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }






  #product-list {
    text-align: center;
}

#product-list .products-inline {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    flex-wrap: wrap;
}

.pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.pic {
    margin-left: -350%;
}

#product-list .product {
    width: 18%;
    min-width: 260px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.1s ease;
    position: relative;
}

#product-list .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product-list .product img {
    width: 100%;
    border-radius: 20px;
}

#product-list .product .p-details {
    text-align: start;
    padding: 10px 0;
}

#product-list .product .p-details span {
    color: #606063;
    font-size: 12px;
}

#product-list .product .p-details h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product-list .product .p-details h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
}

:root {
    --main-color: rgb(87, 113, 197);
    --bg-color: #fff;
    --text-color: #171427;
}

#product-list .product .add-cart {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: var(#fff);
    color: #020202;
    padding: 10px;
    cursor: pointer;
}

.cart {
    position: absolute;
    /* top: 0; */
    right: 0;
    width: 350px;
    /* min-height: 100vh; */
    padding: 1.5rem;
    background: var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: all 0.3s linear;
    overflow: scroll;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid var(--text-color);
    outline-color: var(--text-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}

.total-title {
    font-size: 1rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    background: #fdbb2d;
    border-radius: 14px;
    color: black;
    font-size: 18px;
    font-weight: inherit;
    border: 2px solid black;
}


#close-cart {
    font-size: 2rem;
    color: var(--text-color);
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    cursor: pointer;
}

.bag-btn {
    background: #fdbb2d;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    font-weight: inherit;
    border: 2px solid black;
}

.unlike-btn{
    color: red;
}

.like-btn{
    color: green;
}
aside{
    list-style: none;
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
}
rev{
    padding: .5em 0;
    border-bottom: 1px solid #CCC;
}

  
  
